<launch>
  <arg name="device" default="/dev/umoru_rarm" />
  <arg name="namespace" default="rarm" />
  <arg name="urdf_path" default="" />
  <arg name="servo_config_path" default="$(find umoru_arm)/config/rarm_servo_config.yaml" />
  
  <group ns ="$(arg namespace)" >
    <node
        name="umoru_rarm_controller"
        pkg="umoru_arm"
        type="umoru_arm_controller.py"
        output="screen">
      <param name="device" type="str" value="$(arg device)" />
      <param name="urdf_path" type="str" value="$(arg urdf_path)"
             if="$(eval len(arg('urdf_path')) > 0)"/>
      <rosparam subst_value="true" >
        servo_config_path: $(arg servo_config_path)
      </rosparam>
    </node>
  </group>
  
</launch>
